{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<style>
  .m-10px {
    margin: 10px
  }
</style>

<div style="display: flex; background-color: #272726">
<div class='m-10px' id="container11"></div>
<div class='m-10px' id="container12"></div>
<div class='m-10px' id="container13"></div>
</div>


<div style="background-color: #272726; padding: 5px 0">
<div class='m-10px' id="container6"></div>
<div class='m-10px' id="container5"></div>
</div>


<div class='m-10px' id="container1"></div>
<div class='m-10px' id="container3"></div>
<div class='m-10px' id="container2"></div>
<div class='m-10px' id="container4"></div>


<div style="display: flex;">
<div class='m-10px' id="container15"></div>
<div class='m-10px' id="container16"></div>
</div>

<div style="background-color: #272726; padding: 5px 0">
  <div class='m-10px' id="container8"></div>
  <div class='m-10px' id="container7"></div>
</div>


<div class='m-10px' id="container17"></div>

<div class='m-10px' id="container9" style="background-color: #272726; padding: 5px 0"></div>

<div class='m-10px' style="display: flex;">
<div class='m-10px' id="container18"></div>
</div>

<div class='m-10px' id="container14"></div>

<div style="display: flex;">
<div class='m-10px' id="container19"></div>
<div class='m-10px' id="container20"></div>
</div>

<div class='m-10px' id="container10" style="background-color: #272726; padding: 5px 0"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src={% static 'js/chart.js'%}></script>

</html>