{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
</head>


<body style="width: 1400px; margin: auto">
  <div style="display: flex;">
    <div id="container5"></div>
    <div id="container6"></div>
  </div>
  
  <div style="display: flex;"> 
    <div id="container1"></div>  
    <div id="container3"></div>
  </div>

  <div style="display: flex;">   
    <div id="container2"></div>
    <div id="container4"></div>
  </div>

  
  <div id="container8"></div>

  <div id="container9"></div>
    <div id="container10"></div>
  
</body>
<script>
    jQuery.extend({
    getValues: function(url) {
        var result = null;
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            async: false,
            success: function(data, textStatus, jqXHR) {
                result = JSON.parse(data);
                alert(result)
            },
            error: function(data) {
                alert(error)
            }
        });
       return result;
    }
});

function generate_charts() {

    function generate_data_series(table_name) {

        const series_data = [];
        let max = new Array(0, 0);
        let index = 0;
        for (let key in data[table_name]) {
            
            if (!Array.isArray(data[table_name][key])) {
                if (data[table_name][key]>max[0]) {
                    max[0] = data[table_name][key];
                    max[1] = index
                }
                index++
                series = {
                    name: key,
                    y: data[table_name][key]
                }
                series_data.push(series);
            }
        }
        series_data[max[1]]['sliced'] = true;
        series_data[max[1]]['selected'] = true;
            
        return series_data
    }

    function generate_remnant (table_name) {
        let array = []
        let max = Math.max.apply(Math, data[table_name]['Learners']) * 1.2

        for (const num of data[table_name]['Learners']) {
            array.push(max-num)
        }
        return array
    }
    function generate_gap_subcategories(text, length=null) {let list = []; for (let i=1; i<=10; i++){list.push(text) } return list}


    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container1', {
            chart: {
            type: 'pie',
            backgroundColor: '#272726',
            width: 700,
            style: {
                fontFamily: 'Poppins'
            }
            },
            credits: {
                enabled: false
            },
            title: {
            text: 'Expertise',
            y: 120, 
            x: 176,
            style: {
                color: '#FFFFFF',
                fontWeight: 'bold',
                fontSize: '20px'
            }
            },
            colors: ['#3b844e', '#3984bc', '#ddd64e', '#cf6f4a', '#9b3745'],
            legend: {
                className: 'expertiseLegend',
                layout: 'vertical',
                symbolRadius: 0,
                symbolPadding: 13,
                symbolHeight: 15,
                labelFormatter: function() {
                    return `<div style="display: flex; justify-content: space-between; width: 190px"><span style="color:#a9a9a9;">${this.name}</span><span>${Math.round(this.percentage)}</span></div>`;
                },
                useHTML: true,
                itemStyle: {
                    //lineHeight: '17px',
                    color: '#ffffff',
                    fontSize: '16px',
                    fontWeight: 'thin',
                    display: 'inline-block',
                    verticalAlign: 'middle'
            
                },
                itemMarginTop: 10,
                margin: -10,
                x: 240,
                floating: true,
                y: -80        },
            tooltip: {
            pointFormat: '{data.name} ({point.percentage:.1f}%)'
            },
            accessibility: {
            point: {
                valueSuffix: '%'
            }
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                enabled: false
                },
                showInLegend: true,
                borderColor: '#272726',
                size: '60%'
            }
            },
            series: [{
            name: 'Fields',
            colorByPoint: true,
            data: generate_data_series('Expertise')
            }],
            
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container2', {
            chart: {
            type: 'pie',
            backgroundColor: '#272726',
            width: 700,
            style: {
                fontFamily: 'Poppins'
            }
            },
            credits: {
                enabled: false
            },
            title: {
            text: 'Gender',
            y: 130, 
            x: 166, 
            style: {
                color: '#FFFFFF',
                fontWeight: 'bold',
                fontSize: '20px'
            }
            },
            colors: ['#3b844e', '#3984bc', '#9b3745'],
            legend: {
                className: 'genderLegend',
                layout: 'vertical',
                symbolRadius: 0,
                symbolPadding: 13,
                symbolHeight: 15,
                labelFormatter: function() {
                    return `<div style="display: flex; justify-content: space-between; width: 190px"><span style="color:#a9a9a9;">${this.name}</span> <span>${Math.round(this.percentage)}</span></div>`;
                },
                useHTML: true,
                itemStyle: {
                    color: '#ffffff',
                    fontSize: '16px',
                    fontWeight: 'thin'
                },
                itemMarginTop: 10,
                margin: -10,
                x: 240,
                floating: true,
                y: -140
            },
            tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
            point: {
                valueSuffix: '%'
            }
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                enabled: false
                },
                showInLegend: true,
                borderColor: '#272726',
                size: '60%'
            }
            },
            series: [{
            name: 'Fields',
            colorByPoint: true,
            data: generate_data_series('Gender')
            }]
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container3', {
            chart: {
            type: 'pie',
            style: {
                fontFamily: 'Poppins'
            },
            backgroundColor: '#272726',
            width: 700,
            marginLeft: -300
            },
            credits: {
                enabled: false
            },
            title: {
            text: 'Role',
            y: 125, 
            x: -5, 
            style: {
                color: '#FFFFFF',
                fontWeight: 'bold',
                fontSize: '20px'
            }
            },
            colors: ['#3b844e', '#3984bc', '#9b3745'],
            legend: {
                className: 'roleLegend',
                layout: 'vertical',
                symbolRadius: 0,
                symbolPadding: 13,
                symbolHeight: 15,
                labelFormatter: function() {
                    return `<div style="display: flex; justify-content: space-between; width: 190px"><span style="color:#a9a9a9;">${this.name}</span> <span>${Math.round(this.percentage)}</span></div>`;
                },
                useHTML: true,
                itemStyle: {
                    color: '#ffffff',
                    fontSize: '16px',
                    fontWeight: 'thin'
                },
                itemMarginTop: 10,
                margin: -10,
                x: 82,
                floating: true,
                y: -140
            },
            tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
            point: {
                valueSuffix: '%'
            }
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                enabled: false
                },
                showInLegend: true,
                borderColor: '#272726',
                size: '60%'
            }
            },
            series: [{
            name: 'Fields',
            colorByPoint: true,
            data: generate_data_series('Role')
            }]
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container4', {
        chart: {
            type: 'pie',
            style: {
                fontFamily: 'Poppins'
            },
            backgroundColor: '#272726',
            width: 700,
            marginLeft: -300
            },
            credits: {
                enabled: false
            },
            title: {
            text: 'Work Experience',
            y: 130, 
            x: 55,
            style: {
                color: '#FFFFFF',
                fontWeight: 'bold',
                fontSize: '20px'
            }
            },
            colors: ['#3b844e', '#3984bc', '#ddd64e', '#cf6f4a', '#9b3745'],
            legend: {
                className: 'experienceLegend',
                layout: 'vertical',
                symbolRadius: 0,
                symbolPadding: 13,
                symbolHeight: 15,
                labelFormatter: function() {
                    return `<div style="display: flex; justify-content: space-between; width: 190px"><span style="color:#a9a9a9;">${this.name}</span> <span>${Math.round(this.percentage)}</span></div>`;
                },
                useHTML: true,
                itemStyle: {
                    color: '#ffffff',
                    fontSize: '16px',
                    fontWeight: 'thin',
                },
                itemMarginTop: 10,
                margin: -10,
                x: 82,
                floating: true,
                y: -80        },
            tooltip: {
            pointFormat: '{data.name} ({point.percentage:.1f}%)'
            },
            accessibility: {
            point: {
                valueSuffix: '%'
            }
            },
            plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                enabled: false
                },
                showInLegend: true,
                borderColor: '#272726',
                size: '60%'
            }
            },
            series: [{
            name: 'Fields',
            colorByPoint: true,
            data: generate_data_series('Work Experience')
            }]
        });
    })
    
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container5', {
            chart: {
                type: 'bar',
                style: {
                    fontFamily: 'Poppins'
                },
                height: 100*data['Location data']['categories'].length
                //marginTop: -67
                //width: 514
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Location',
                align: 'left',
                style: {
                fontWeight: 'bold',
                fontSize: '23px'
                }
            },
            xAxis: {
                categories: data['Location data']['categories'],
                lineColor: 'transparent',
                labels: {
                    style: {
                        color: '#4b4b4e',
                        fontSize: '18px',
                    },
                    align: 'left',
                    x:0
                },
                offset: 175
            },
            legend: {
            enabled: false
            },
            yAxis: {
              title: {
              enabled: false
              },
              labels: {
              enabled: false
              },
              gridLineWidth: 0,
              width: 400
            },
            colors: ['#f6f6f6', '#3b844e'],
            plotOptions: {
                series: {
                    stacking: 'normal',
                    borderWidth: 0,
                    pointWidth: 28
                },
            },
            series: [{
                name: 'Blank',
                data: generate_remnant('Location data'),
                enableMouseTracking: false
            }, {
                name: 'Participants',
                data: data['Location data']['Learners'],
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '20px',
                        color: '#282828'
                    },
                    align: 'right',
                    x: 30,
                }
            }]
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container6', {
            chart: {
                type: 'bar',
                style: {
                    fontFamily: 'Poppins'
                },
                marginTop: 67,
                height: 33*data['Bu Data']['categories'].length,
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Business unit',
                align: 'left',
                style: {
                fontWeight: 'bold',
                fontSize: '23px'
                }
            },
            xAxis: {
                categories: data['Bu Data']['categories'],
                lineColor: 'transparent',
                labels: {
                    style: {
                        color: '#4b4b4e',
                        fontSize: '18px',
                    },
                    align: 'left',
                    x:0
                },
                offset: 250
            },
            legend: {
            enabled: false
            },
            yAxis: {
              title: {
              enabled: false
              },
              labels: {
              enabled: false
              },
              gridLineWidth: 0,
              width: 400
            },
            colors: ['#f6f6f6', '#3b844e'],
            plotOptions: {
                series: {
                    stacking: 'normal',
                    borderWidth: 0,
                    pointWidth: 18,
                },
            },
            series: [{
                name: 'Blank',
                data: generate_remnant('Bu Data'), // data['Bu Data']['Learners'].map(function (x) {return Math.max(data['Bu Data']['Learners']) + 3 - x }),
                enableMouseTracking: false
            }, {
                name: 'Participants',
                data: data['Bu Data']['Learners'],
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '20px',
                        color: '#282828'
                    },
                    align: 'right',
                    x: 30
                }
            }]
        });
    })
    
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container8', {
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Poppins'
                },
                inverted: true,
                height: 600,
                marginTop: 60
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Score by module',
                align: 'left',
                style: {
                    fontWeight: 900,
                    fontSize: '22px',
                    color: '#000000'
                }
            },
            legend: {
                verticalAlign: 'top',
                x: 93,
                y: 0,
                floating: true,
                symbolRadius: 0,
                symbolHeight: 15,
                symbolPadding: 10,
                itemDistance: 50,
                itemStyle: {
                    fontWeight: 'thin',
                    fontSize: '14px',
                    color: '#404040'
                }
            },
            xAxis: {
                categories: data['Module data']['categories'],
                lineColor: 'transparent',
                offset: 200,
                labels: {
                    align: 'left',
                    x: 0,
                    style: {
                        color: '#4b4b4e',
                        fontWeight: 540,
                        fontSize: '17px'
                    }
                }
            },
            
            yAxis: [{ // Primary yAxis
                min: 0,
                max: 100,
                width: 725,
                title: {
                    enabled: false
                },
                labels: {
                    enabled: false
                },
                gridLineWidth: 0
            }],        
            plotOptions: {
                series: {
                    borderWidth: 0,
                    groupPadding: 0.2,
                    pointPadding: 0.1
                }
            },
            series: [{
                showInLegend: false,
                stacking: 'normal',
                data:  data['Module data']['Cohort Average'].map(function (x) {return Math.round(100-x*100)}),
               
                color: '#f6f6f6',
                enableMouseTracking: false
            }, {
                name: 'Cohort Average',
                stacking: 'normal',
                data: data['Module data']['Cohort Average'].map(function (x) {return Math.round(x * 100)}),
                color: '#3b844e',
                dataLabels: {
                    enabled: true,
                    align: 'right',
                    x: 45,
                    style: {
                        color: '#5e5e5e',
                        fontSize: '16px'
                    },
                    formatter: function () {
                        return this.y + "%"
                    }
                },
                legendIndex: 2
            }, {    
                name: 'Global Average',
                type : 'spline',
                data: data['Module data']['Global Average'].map(function(x){return Math.round(x * 100)}),
                marker: {
                enabled: false
                },
                color: '#ffbf00',
                lineWidth: 3,
                crisp: false,
                style: {
                    
                },
                legendIndex: 1
            }]
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container9', {
            chart: {
                type: 'bar',
                height: 750,
                width: 965,
                marginTop: 70,
                style: {
                    fontFamily: 'Poppins'
                },
            },
            credits: {
                enabled: false
            },
    
            legend: {
                enabled: false
            },
    
            title: {
                text: 'Gap-to-Goal by Module',
                style: {
                    fontWeight: 900,
                    fontSize: '20px'
                },
                align: 'left'
            },
    
            tooltip: {
                shared: true
            },
    
    
        xAxis: [{
            categories: generate_gap_subcategories('PRE'),
            labels: {
                y:-7,
                style: {
                    color: '#808080',
                    fontWeight: 500
                }
            },
            plotBands: [
            {
            color: '#f5f5f5',
            from: -0.34,
            to: 0.34
            },
            {
            color: '#f5f5f5',
            from: 0.66,
            to: 1.34
            }, 
            {
            color: '#f5f5f5',
            from: 1.66,
            to: 2.34
            },
            {
            color: '#f5f5f5',
            from: 2.66,
            to: 3.34
            },
            {
            color: '#f5f5f5',
            from: 3.66,
            to: 4.34
            },
            {
            color: '#f5f5f5',
            from: 4.66,
            to: 5.34
            },
            {
            color: '#f5f5f5',
            from: 5.66,
            to: 6.34
            },
            {
            color: '#f5f5f5',
            from: 6.66,
            to: 7.34
            },
            {
            color: '#f5f5f5',
            from: 7.66,
            to: 8.34
            },
            {
            color: '#f5f5f5',
            from: 8.66,
            to: 9.34
            }],
            lineColor: '#e6e6e6' 
            },
            {
                categories: generate_gap_subcategories('POST'),                //function() {let list = []; for (let i=1; i<=10; i++){list.push('PRE') } return list},
                labels: {
                    y:14,
                    x: 20,
                    style: {
                        color: '#808080',
                        fontWeight: 500
                    }
                },
                linkedTo: 0,
                lineColor: 'transparent'
                },
            {
            //tickWidth: 0,
            categories: data['Gap to Goal Data']['categories'],
            labels: {
                align: 'left',
                x:0,
                style: {
                    fontSize: '16px',
                    color: '#4d4d4d'
                }
            },
            lineColor: 'transparent',
            linkedTo: 0,
            offset: 285
                },
                {
                categories: data['Gap to Goal Data']['Module/Stage']['PRE']['Gap'].map(function(x) {return `+${x}`}),
                    linkedTo: 0,
                    opposite: true,
                    labels: {
                    useHTML: true,
                    x: -36,
                    y: -7,
                    style: {
                        color: '#cc5500',
                        fontWeight: 600
                    }
                },
                lineColor: 'transparent'
                },
            {
                categories: data['Gap to Goal Data']['Module/Stage']['POST']['Gap'].map(function(x) {return `+${x}`}),
                linkedTo: 0,
                opposite: true,
                lineColor: 'transparent',
                labels: {
                    x: -40,
                    y:14,
                    style: {
                        color: '#cc5500',
                        fontWeight: 600
                    }
                }
            }],
    
            yAxis: {
                width: 600,
                title: {
                enabled: false
                },
                labels: {
                enabled: true
                },
                min: 0,
                max: 5
            },
    
            plotOptions: {
                bar: {
                    stacking: 'normal',
                    pointWidth: 2,
                    borderWidth: 0
                },
            },
    
            series: [{
                name: 'Pre-Course Gap to Goal',
                data: data['Gap to Goal Data']['Module/Stage']['PRE']['Gap'],
                stack: '0',
                color:{
                linearGradient: {x1:0, x2:0, y1:1, y2:0},
                stops: [
                [0, '#2e8b57'],
                [0.15, '#2e8b57'],
                [0.85, '#cf6f49'],
                [1, '#cf6f49']
                ]
            },
            dataLabels: {
                enabled: true,
                backgroundColor: '#cf6f49',
                shape: 'circle',
                align: 'right',
                allowOverlap: true,
                x: 5.4,
                style: {
                    textOutline: 'transparent',
                    fontSize: '0px'
                },
                formatter () {
                    if (this.y==0) {
                        return ''
                    }
                    return 1
                }
            }
            
            },
            {
                name: 'Pre-Course Current Score',
                data: data['Gap to Goal Data']['Module/Stage']['PRE']['Current'],
                stack: '0',
                color: 'transparent',
                enableMouseTracking: false,
                showInLegend: false,
            
            
                dataLabels: {
                    enabled: true,
                    backgroundColor: '#2e8b57',
                    shape: 'circle',
                    align: 'right',
                    x: 5.5,
                    crop: false, 
                    overflow: 'none',
                    //floating: true,
                    //allowOverlap: true,
                    style: {
                        textOutline: 'transparent',
                        fontSize: '0px'
                    }
                },
                allowPointSelect: false
        },
        {
            name: 'Post-Course Gap to Goal',
            data: data['Gap to Goal Data']['Module/Stage']['POST']['Gap'],
            stack:'1',
            color:{
                linearGradient: {x1:0, x2:0, y1:1, y2:0},
                stops: [
                [0, '#2e8b57'],
                [0.15, '#2e8b57'],
                [0.85, '#cf6f49'],
                [1, '#cf6f49']
                ],
            },
            dataLabels: {
                enabled: true,
                backgroundColor: '#cf6f49',
                shape: 'circle',
                align: 'right',
                allowOverlap: true,
                x: 5.4,
                style: {
                    textOutline: 'transparent',
                    fontSize: '0px'
                }
            }
        },
        {
            name: 'Post-Course Current Score',
            data: data['Gap to Goal Data']['Module/Stage']['POST']['Current'],
            stack: '1',
            color: 'transparent',
            enableMouseTracking: false,
            showInLegend: false,
            dataLabels: {
                enabled: true,
                backgroundColor: '#2e8b57',
                shape: 'circle',
                align: 'right',
                //allowOverlap: true,
                style: {
                    textOutline: 'transparent',
                    fontSize: '0px'
                }
            }
        }
    
            ]
    
        
        });
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container10', {
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Poppins'
                },
                inverted: 'true',
                height: 770,
                //width: 952,
                marginTop: 70
            },
            credits: {
                enabled: false
            },
    
            title: {
                text: 'Module Rating and Relevance',
                align: 'left',
                style: {
                    fontWeight: 'bold',
                    fontSize: '20px'
                }
            },
    
            xAxis: {
                categories: data['Module Rating & Relevance']['categories'],
                offset: 230,
                lineColor: 'transparent',
                labels: {
                    style: {
                        color: '#36454F',
                        fontSize: '16px'
                    },
                    align: 'left',
                    x: 0
                },
            },
    
            yAxis: {
                allowDecimals: false,
                min: 0,
                max: 10,
                gridLineWidth: 0,
                title: {
                    text: null
                },
                width: 700,
                labels: {
                    enabled: false,
                },
            },
    
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
    
            plotOptions: {
                column: {
                    stacking: 'normal',
                    //size: 700
                },
                series: {
                borderWidth: 0,
                //pointWidth: 30,
                pointPadding: 0.15, 
                groupPadding: 0.095
                }
                },
            legend: {
                enabled: true,
                // width: 500,
                verticalAlign: 'top',
                floating: true,
                y: -4,
                x: 85,
                 //labelFormat: "60",
                symbolRadius: 0,
                itemStyle: {
                    color: '#36454F',
                    fontWeight: 'thin'
                },
                itemDistance: 60
                // alignColumns: true
                
            },
            series: [
            {
                name: 'Remainder',
                showInLegend: false,
                data: data['Module Rating & Relevance']['Rating'].map(function (x) {return (10-x)}),
                stack: 'moduleRating',
                color: '#f6f6f6',
                enableMouseTracking: false
    
            }, {
                name: 'Module Rating',
                showInLegend: true,
                data: data['Module Rating & Relevance']['Rating'],
                stack: 'moduleRating',
                color: '#2e8b57',
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return Highcharts.numberFormat(this.y,2);
                    },
                    color: '#4b4b4e',
                    align: 'right',
                    x: 35,
                    style: {
                        fontSize: '13px',
                        textOutline: 0
                    },
                },
                legendIndex: 1
            }, 
            {
                name: 'Remainder',
                showInLegend: false,
                data: data['Module Rating & Relevance']['Relevance'].map(function (x) {return (10-x)}),
                stack: 'moduleRelevance',
                color: '#f6f6f6',
                enableMouseTracking: false
    
            }, {
                name: 'Module Relevance',
                showInLegend: true,
                data: data['Module Rating & Relevance']['Relevance'],
                stack: 'moduleRelevance',
                color: '#3984bc',
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return Highcharts.numberFormat(this.y,2);
                    },
                    color: '#4b4b4e',
                    align: 'right',
                    x: 35,
                    style: {
                        fontSize: '13px',
                        textOutline: 0
                    }
                },
                legendIndex: 2
            }, 
            ]
        },
    );
    })

}

var data = $.getValues("/generate-data");


if (data !==null) {
    generate_charts()
}
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src={% static 'js/chart.js' %}></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="http://blacklabel.github.io/grouped_categories/grouped-categories.js"></script>

</html>
