{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
</head>


<body style="width: 1400px; margin: auto">
  <div style="display: flex;">
    <div id="container5"></div>
    <div id="container6"></div>
  </div>
  
  <div style="display: flex;"> 
    <div id="container1"></div>  
    <div id="container3"></div>
  </div>

  <div style="display: flex;">   
    <div id="container2"></div>
    <div id="container4"></div>
  </div>

  
  <div id="container8"></div>

  <div id="container9"></div>
    <div id="container10"></div>
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src={% static 'js/chart.js' %}></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="http://blacklabel.github.io/grouped_categories/grouped-categories.js"></script>

</html>