{% extends "base.html" %}

{% block content %}
<div style='width: 400px; margin: auto; position: relative; top: 200px'>
    <form enctype = "multipart/form-data" action = "" method = "post">
        {% csrf_token %}
        
    <label class="form-label" for="customFile" style='margin-bottom: 20px; font-size: 20px; font-weight: 700'>Import XLS file for Cohort Report</label>
    <input type="file"  name = "filename" class="form-control" id="customFile" />
    <input type = "submit" value = "Upload and create charts" class="btn btn-outline-dark w-100 mt-3" /></p>
</div>

{% endblock content %}
