/*body{
    background-color: red; 
    

    }*/
/* .expertiseLegend>.highcharts-legend-item {
    border-bottom: 10px solid red !important;
    background-color: red !important;
    font-style: italic;
    }  */

/* .highcharts-legend-item {
    font-style: italic;
    border-bottom: 10px solid red;
}  */

/* .highcharts-root {
    font-family: 'Poppins'; 
    
} */

.expertiseLegend {
    margin-top: -4px;
}
.genderLegend {
    margin-top: -4px;
}
.roleLegend {
    margin-top: -4px;
}
.experienceLegend {
    margin-top: -4px;
}




.highcharts-legend-item > span:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #4b4b4e;
    padding: 1em 1em 0.5em;
    top: -1px;
    left: 0px;
    

}

.highcharts-legend-item:last-child > span:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: none;
    padding: 1em 1em 0.5em;
    top: -1px;
    left: 0px;
    margin-left: -20px;
    

}

/* .expertiseLegend>div>div:last-child>div:after {
    border-bottom: 2px solid red;
} */

/* .highcharts-lollipop-stem {
    color:blue
} */

/* .highcharts-point{
    transform: translate(0, 3px)
  } */